/00.ProblemSolving/03.arrayMaxMin/nbproject/private/
/00.ProblemSolving/03.arrayMaxMin/build/
/00.ProblemSolving/Assignment1/target/
/00.ProblemSolving/MyTask/target/
/00.ProblemSolving/ExecutionSteps/target/
/00.ProblemSolving/MyTask2/target/
/00.ProblemSolving/DataType/target/
/00.ProblemSolving/JavaProject/target/
/00.ProblemSolving/MyTask3/target/
/0000.JavaLab/Calculator/target/
/0000.JavaLab/Task01GUI/target/
/0000.JavaLab/LabTasksGUI/target/
/0000.JavaLab/GuiFILEPractice/target/
/0000.JavaLab/FileReadWriteGUI/target/
/0000.JavaLab/LoginPage/nbproject/private/
/0000.JavaLab/LoginPage/build/
/0000.JavaLab/PreparationForFinal/nbproject/private/
/0000.JavaLab/PreparationForFinal/build/
