/00.ProblemSolving/03.arrayMaxMin/nbproject/private/
/00.ProblemSolving/03.arrayMaxMin/build/
/00.ProblemSolving/Assignment1/target/
/00.ProblemSolving/MyTask/target/
/00.ProblemSolving/ExecutionSteps/target/
/00.ProblemSolving/MyTask2/target/
/00.ProblemSolving/DataType/target/
/00.ProblemSolving/JavaProject/target/
/00.ProblemSolving/MyTask3/target/
